<!-- <router-outlet></router-outlet> -->

<button (click)="getAllCars()">get all cars</button><br>
<table>
  <thead>
    <th>carid</th>
    <th>make</th>
    <th>model</th>
    <th>colour</th>
    <th>owner</th>
  </thead>
  <tbody>
    <tr *ngFor="let c of cars">
      <td>{{ c.carid }}</td>
      <td>{{ c.make }}</td>
      <td>{{ c.model }}</td>
      <td>{{ c.colour }}</td>
      <td>{{ c.owner }}</td>
    </tr>
  </tbody>
</table>

<div class="sep"></div>

<b>find and edit car</b><br>
<form (keydown.enter)="$event.preventDefault()" (submit)="onEditSubmit()">
  <input type="text" placeholder="carid" #carid_input>
  <button type="button" (click)="getCar(carid_input.value)">find</button>
  <button type="submit">edit</button>
  <div *ngIf="car">
    carid: <input type="text" [(ngModel)]="car.carid" name="carid"><br>
    make: <input type="text" [(ngModel)]="car.make" name="make"><br>
    model: <input type="text" [(ngModel)]="car.model" name="model"><br>
    color: <input type="text" [(ngModel)]="car.colour" name="colour"><br>
    owner: <input type="text" [(ngModel)]="car.owner" name="owner">
  </div>
</form>

<div class="sep"></div>

<form (keydown.enter)="$event.preventDefault()" (submit)="onCarSubmit()">
  <b>add car</b><br>
  <input type="text" [(ngModel)]="newCar.carid" name="carid" placeholder="carid"><br>
  <input type="text" [(ngModel)]="newCar.make" name="make" placeholder="make"><br>
  <input type="text" [(ngModel)]="newCar.model" name="model" placeholder="model"><br>
  <input type="text" [(ngModel)]="newCar.colour" name="colour" placeholder="colour"><br>
  <input type="text" [(ngModel)]="newCar.owner" name="owner" placeholder="owner">
  <button type="submit">submit</button>
</form>
